<ul style="width: {{ panes.length*100 }}%; left: 0%;" ng-class="{ 'animate': animate, 'slow': slow }">

    <li class="pane" ng-repeat="pane in panes" style="width: {{ 100/panes.length }}%; opacity: {{ bullets[$index].opacity }};">
        <p>{{ pane.text }}</p>
    </li>

</ul>


<div class="intro-app-ui"></div>


<nav ng-class="{ 'control-enabled': bulletControl, 'animate': animate, 'slow': slow }">
    <ul id="story-progress-indicator">
        <li ng-repeat="bullet in bullets" ng-click="bulletControlNav( $index )">
            <i style="opacity: {{ bullet.opacity }};"></i>
        </li>
    </ul>
</nav>
